@charset "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

/*
    font-family:'Noto Sans KR', sans-serif;
*/
*{margin:0; padding:0;}
.board_wrap{
    width:600px;
    margin:0 auto;
    h1{
        padding:50px 0;
        text-align:center;
    }
    table{
        width:100%;
        border-collapse:collapse;
        border-spacing:0;
        line-height:30px;
        font-family:'Noto Sans KR', sans-serif;
        font-size:12px;
        input{vertical-align:middle;}
        th{
            border-bottom:1px solid #999999;
            background:#eeeeee;
            padding:5px 0;
        }
        td{
            border-bottom:1px solid #cccccc;
            padding:5px 0;
            text-align:center;
            &:nth-child(3){
                text-align:left;
                .ellipsis{width:300px;}
            }
            &:nth-child(5){
                .ellipsis{width:100px;}
            }
        }
    }
    .ellipsis{overflow:hidden; display:block; white-space:nowrap; text-overflow:ellipsis;}
}


.list{
    .col_width01{width:50px;}
    .col_width02{width:50px;}
    .col_width03{width:300px;}
    .col_width04{width:100px;}
    .col_width05{width:100px;}
}

.view {
    .view_tit{
        overflow:hidden;
        display:block;
        width:480px;
        padding:0 10px;
        white-space:nowrap;
        text-overflow:ellipsis;
        text-align:left;
    }
    .view_con{
        box-sizing:border-box;
        overflow:auto;
        width:100%;
        height:300px;
        padding:5px 10px;
        text-align:left;
    }
}

.write {
    .view_tit{
        padding:0 10px;
        input{
            box-sizing:border-box;
            width:100%;
            height:20px;
            outline:0 none;
        }
    }
    .view_con{
        box-sizing:border-box;
        height:300px;
        padding:5px 10px;
        text-align:left;
        textarea{
            box-sizing:border-box;
            overflow:auto;
            width:100%;
            height:100%;
            outline:0 none;
            resize:none;
        }
    }
}
.view{
    .col_width01{width:100px;}
    .col_width02{width:200px;}
    .col_width03{width:100px;}
    .col_width04{width:200px;}
}
.write{
    .col_width01{width:100px;}
    .col_width02{width:200px;}
    .col_width03{width:100px;}
    .col_width04{width:200px;}
}

.btn_wrap{
    width:100%;
    padding:10px 0;
    text-align:center;
    .btn{
        display:inline-block;
        height:30px;
        outline:0 none;
        border:1px solid transparent;
        background:#ffffff;
        padding:0 20px;
        line-height:28px;
        font-size:12px;
        cursor:pointer;
        &.write{border-color:#0255a5; color:red;}
        &.confirm{border-color:#0255a5; color:#0255a5;}
        &.confirm:hover{background:#e5eef7;}
        &.submit{border-color:#f58220; color:#f58220;}
        &.submit:hover{background:#fff1de;}
        &.edit{border-color:#666666; color:#666666;}
        &.edit:hover{background:#eeeeee;}
        &.delete{border-color:#f6383d; color:#f6383d;}
        &.delete:hover{background:#ffe5e5;}
    }
}
