<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/common.css">
    <title>빵지꺼</title>
</head>
<body>
  {{> header }}
  {{> left }}
  {{{body}}}
  {{> footer }}

  <script src="/public/js/cmm.js"></script>
</body>
</html>